

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {

    --my-padding: 0.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: white;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.6fr 0.3fr;
    grid-template-areas:
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
    height: 100vh;
    
    text-align: center;
    text-transform: uppercase;
    
}

header{
    align-items: center;
    background-color: black;
    grid-area: header;
    padding: var(--my-padding);
}

.menu{
    align-items: center;
    background-color: rgb(170, 0, 0);
    display: grid;
    grid-area: menu;
    padding: var(--my-padding);

}

.hero{
    align-items: center;
    background-color: rgb(0, 89, 122);
    display: grid;
    grid-area: hero;
    padding: var(--my-padding);
}

.main{
    align-items: center;
    background-color: rgb(78, 22, 22);
    display: grid;
    grid-area: main;
    padding: var(--my-padding);
}

.image{
    align-items: center;
    background-color: rgb(175, 169, 214);
    display: grid;
    grid-area: image;
    padding: var(--my-padding);
}

.extra{
    align-items: center;
    background-color: rgb(78, 230, 109);
    display: grid;
    grid-area: extra;
    padding: var(--my-padding);
}

.banner{
    align-items: center;
    background-color: rgb(168, 104, 2);
    display: grid;
    grid-area: banner;
    padding: var(--my-padding);
}

@media(max-width: 1024px){

    .container{
        grid-template-columns: 0.4fr 1fr 0.5fr;
        grid-template-rows: 0.2fr 0.8fr 1fr 0.5fr 0.4fr;
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image"
        ;
    }
}

@media(max-width: 480px){


    .container{
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.3fr 0.7fr 1fr 0.4fr 0.5fr 0.5fr;
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}
